In [2]:
import pandas as pd

In [3]:
dfODData = pd.read_csv('od_by_mode_with_groups.csv')
dfODData

,OID,DID,day_type,day_part,odvolume,odtime,mode,date_range,group
0,101,101,0,0,15720,770.0,TRU,2019_01,smalldist
1,101,101,0,1,984,812.0,TRU,2019_01,smalldist
2,101,101,0,2,3093,881.0,TRU,2019_01,smalldist
3,101,101,0,3,7330,743.0,TRU,2019_01,smalldist
4,101,101,0,4,3056,703.0,TRU,2019_01,smalldist
...,...,...,...,...,...,...,...,...,...
12739480,662,662,2,0,15,1199.0,ALL,2021_YR,smalldist
12739481,662,662,2,2,5,NaN,ALL,2021_YR,smalldist
12739482,662,662,2,3,4,NaN,ALL,2021_YR,smalldist
12739483,662,662,2,4,3,NaN,ALL,2021_YR,smalldist
12739484,662,662,2,5,2,NaN,ALL,2021_YR,smalldist

In [4]:
dfODData_RSGBikeDataRequest = dfODData[(dfODData['mode']=='BIC') & (dfODData['group']=='smalldist')]
dfODData_RSGBikeDataRequest = dfODData_RSGBikeDataRequest.drop(columns=('group'))
dfODData_RSGBikeDataRequest

          OID  DID  day_type  day_part  odvolume  odtime mode date_range
18        101  101         0         0       274  1464.0  BIC    2019_01
19        101  101         0         1        19  1258.0  BIC    2019_01
20        101  101         0         2        55  2144.0  BIC    2019_01
21        101  101         0         3       101  1538.0  BIC    2019_01
22        101  101         0         4        77  1045.0  BIC    2019_01
...       ...  ...       ...       ...       ...     ...  ...        ...
12739446  662  662         1         5         1   698.0  BIC    2021_YR
12739447  662  662         2         0         9   766.0  BIC    2021_YR
12739448  662  662         2         3         5  1022.0  BIC    2021_YR
12739449  662  662         2         4         3   373.0  BIC    2021_YR
12739450  662  662         2         5         1   276.0  BIC    2021_YR

[441031 rows x 8 columns]

In [5]:
dfODData_RSGBikeDataRequest.to_csv('streetlight_smalldist_centers_middlefilters_bicycle_data\\smalldist_centers_w_bikemidfilters.csv',index=False)